<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Modales para Departamentos - Usa modales compartidos -->
    <div th:fragment="modals">
        <div th:replace="fragments/shared-modals :: createDepartmentModal"></div>
        <div th:replace="fragments/shared-modals :: editDepartmentModal"></div>
        <div th:replace="fragments/shared-modals :: addComputerToDeptModal"></div>
        <div th:replace="fragments/shared-modals :: assignPrinterModal"></div>
    </div>
</body>
</html>
